.contador {
  min-height: 300px;
  height: 300px;
  font-size: 160px;
  padding: 75px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid white;
  border-radius: 20px;
  margin-bottom: 15px;
}